* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 1024px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}
/* nav */

nav li {
    list-style: none;
    display: inline-block;
}

.nav-top ul a, ul:last-of-type>li:not(.btn-container) {
    padding: 30px 15px 30px 15px;
    display: inline-block;
}

.nav-top ul {
    display: inline-block;
}

.nav-top ul:first-of-type > li:first-of-type {
    border-right: 1px solid black;
    padding-right: 15px;
}

.nav-top {
    border-bottom: 1px solid black;
    background-color: #f4f9fd;
}

.nav-top button {
    padding: 10px;
}

 nav .btn-container {
    padding: 20px 5px 20px 5px;
}

.logo-container {
    display: inline-block;
    margin-top: 25px;
}

/* Hero section  */

.hero-section {
    background-image: url(../img/jumbotron.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content {
    width: 50%;
}

.hero-content h1 {
    padding-top: 70px;
    font-size: 50px;
}

.hero-content p {
    padding-top: 40px;
    padding-bottom: 40px;
}

.hero-content p:last-of-type {
    padding-top: 40px;
    padding-bottom: 200px;
}

/* banner */

.banner {
    height: 80px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: #afebe4;
}

/* main section */
/* row1 */
.main-section {
    background-color: #f4f9fd;
}

.row-main-sec-1 .img-container {
    width: 30%;
    margin:auto;
    padding-top: 50px;
    margin-bottom: 15px;
}

.row-main-sec-1 img {
    width: 100%;
}

.row-main-sec-1 h2, .row-main-sec-1 p {
    text-align: center;
    padding: 20px 0 20px 0;
}

.row-main-sec-1 h2 {
    font-size: 30px;
}

/* row2 */

/* RIVEDERE PADDING. IMG E H3 SONO ALLA 
STESSA ALTEZZA, SI PUò UNIRE LA PROPRIETà */

.second-col > h3 {
    font-size: 25px;
    padding-top: 70px;
}

.row-main-sec-2 p {
    padding-top: 30px;
}

.row-main-sec-2 .first-col {
    position: relative;
    padding: 150px 0 150px 0;
}

.row-main-sec-2 .img-btn-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.hr-h3-container > h3, .hr-h3-container > div {
    display: inline-block;
}

.hr-h3-container {
    width: 80%;
    padding-top: 30px;
}

.hr-h3-container > div {
    width: 50%;
}

.hr-container {
    padding: 10px 0 10px 60px;
}

.hr-h3-container h3, .hr-container {
    vertical-align: middle;
}

.cta-row-2, .check-container {
    display: inline-block;
}

.check-container {
    width: 20px;
}

.check-container img {
    width: 100%;
}

.check-container, .cta-row-2 span {
    vertical-align: middle;
}

.cta-container {
    padding-top: 20px;
}

/* main section row 3 */
.row-main-sec-3 {
    margin: 0 -20px 0 -20px;
}

.col-3 {
    width: 33.333%;
    padding: 20px;

    min-height: 300px;
}

.col-3-content {
    padding: 10px;
    background-color: white;
}

.col-3-content .img-container {
    height: 140px;
    width: 140px;
    margin: auto;
}

.col-3-content img {
    height: 100%;
}

.col-3-content h3 {
    text-align: center;
    padding: 25px 0 25px 0;
}

.col-3-content p {
    text-align: center;
    line-height: 25px;
    padding-bottom: 80px;
    border-bottom: 1px solid black;
}

.col-3-content h4 {
    text-align: center;
    padding-top: 40px;
}

/* utility classes */

.bg-blue {
    background-color: cornflowerblue;
}

.bg-red {
    background-color: red;
}