* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 1024px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    
}

/* nav */

nav li {
    list-style: none;
    display: inline-block;
}

nav ul a, ul:last-of-type>li:not(.btn-container) {
    padding: 30px 15px 30px 15px;
    display: inline-block;
}

nav ul {
    display: inline-block;
}

nav ul:last-of-type {
    float: right;
}

.nav-top ul:first-of-type > li:first-of-type {
    border-right: 1px solid black;
    padding-right: 15px;
}

.nav-top {
    border-bottom: 1px solid black;
}

nav button {
    padding: 10px;
}

.btn-container {
    padding: 20px 5px 20px 5px;
}

/* utility classes */

nav {
    background-color: aqua;
}